@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hex {
  --hex-bg-color:  rgb(185, 197, 214);
  --hex-bg-hover-color:  rgb(44, 81, 134);
  --hex-width:  4rem;

  width: var(--hex-width);
  position: relative;
  margin: .6rem .1rem;
  background-color: var(--hex-bg-color);
}

.hex::before {
  width: 0;
  height: 1.25rem;
  content: '';
  border-bottom: calc(var(--hex-width) / 4) solid var(--hex-bg-color);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
  position: absolute;
  bottom: 100%;
  left: 0;
}
.hex::after {
  width: 0;
  height: 1.25rem;
  content: '';
  border-top: calc(var(--hex-width) / 4) solid var(--hex-bg-color);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
}

.hex:hover {
  background-color: var(--hex-bg-hover-color);
}
.hex:hover::before {
  border-bottom-color: var(--hex-bg-hover-color);
}
.hex:hover::after {
  border-top-color: var(--hex-bg-hover-color);
}

.hex.selected-true {
  --hex-bg-color:  rgb(147, 235, 153);
}