@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hex {
  --hex-bg-color:  rgb(198, 202, 207);
  --hex-color: rgb(32, 59, 97);
  --hex-bg-hover-color:  rgb(44, 81, 134);
  --hex-width: 8rem;

  width: var(--hex-width);
  height: calc(var(--hex-width) * 1.07);
  font-size: 2.5rem;
  position: relative;
  margin: -.9rem .15rem;
  background-color: var(--hex-bg-color);
  color: var(--hex-color);
  clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
}

.hex:hover {
  background-color: var(--hex-bg-hover-color);
}

.hex.selected-true {
  --hex-bg-color: rgb(147, 235, 153);
}
.hex.allowed-false {
  --hex-bg-color: rgb(53, 56, 53);
}